
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <!-- barre de navigation lateral gauche -->
      <ion-content>
        <ion-list>
          <ion-list-header> Navigation </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon></ion-icon>
              <ion-label routerLink="/yellow-version">1ere Generation </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Pokemon</ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-content class="ion-padding">
        <h1>Bienvenue dans l'application spéciale Pokémon ! </h1>
 
        <ion-item>
          <!--<ion-label  position="floating"> nom de pokemon</ion-label>-->
          <input list="pokelist" #searchItem (keyup.enter)="findPokemonByName(searchItem.value)" placeholder="Rechercher le pokemon par son nom"  />
          <datalist id="pokelist"  >
            <option *ngFor="let pokemon of pokemonList" [value]="pokemon.name" ></option>
          </datalist>
        </ion-item>

      </ion-content>

    </div>

  </ion-split-pane>
