<ion-header>
  <ion-toolbar>
    <ion-text>
      <h1 class="ion-padding" routerLink="/home">Back</h1>
    </ion-text>
  </ion-toolbar>
</ion-header>


<ion-content  class="ion-padding">
<ion-grid  [fixed]="true">
  <ion-row >
    <ion-card class="vanillaTilt" data-tilt data-tilt-glare="true" data-tilt-scale="1.1" >
      <ion-card-title > Nom : {{infopokemon.name}}</ion-card-title>
      <div class="imgBox">
        <img src="{{infopokemon.image}}" />
      </div>
      <ion-card-header>
        <ion-card-title> Pokemon numero :  {{infopokemon.id}}</ion-card-title>
        <ion-card-title > Nom : {{infopokemon.name}}</ion-card-title>
        <ion-card-subtitle>Type : {{infopokemon.type}},{{infopokemon.icon}}</ion-card-subtitle>
        <ion-card-subtitle> Description : {{infopokemon.name}}  {{infopokemon.description}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>