ion-card{
    height:500px;
    width: 30%;
    text-align: center;
    border:solid 1px white;
    cursor: pointer;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}

ion-row{
   // border: solid 2px white;
   padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgBox{
    width: 100%;
    height: 40%;
    border: solid 2px rgba(125, 125, 125, 0.5);
    margin-top: 30px;
}


img{
    width: 80%;
    height: 100%;
    padding: 20px;
}
