
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-text>
        <h1 class="ion-padding" routerLink="/home">Back to Home</h1>
      </ion-text>
    </ion-toolbar>
  </ion-header>

    <ion-content  class="ion-padding">
      <ion-grid  [fixed]="true">
        <ion-row>
          <ion-col  size="auto" *ngFor="let pokemons of pokemon">
            <div *ngIf="pokemons.id <= 151"  >
            <!-- carde des  pokemon 1ere generations   -->
            <ion-card  (click)="getPokemonId(pokemons)" >
              <img class="imagePokemon" [src]="pokemons.image" />
              <ion-card-header>
                <ion-card-title> {{pokemons.name}}</ion-card-title>
                <ion-card-subtitle>Type : {{pokemons.type}}</ion-card-subtitle>
                <ion-grid>
                  <ion-row >
                    <ion-col>Power : {{pokemons.base.HP}}</ion-col>
                    <ion-col>Attack : {{pokemons.base.Attack}}</ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid>
                  <ion-row >
                    <ion-col>Defense : {{pokemons.base.Defense}}</ion-col>
                    <ion-col>Speed : {{pokemons.base.Speed}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>


