ion-row{
    // border: solid 2px white;
     display: flex;
     justify-content: center;
     align-items: center;
}

ion-padding{
display: flex;
flex-direction: row;
}


ion-col{
display: flex;
justify-content: center;
align-items: center;
}

ion-card{
border:solid 1px white;
cursor: pointer;
border-radius: 15px;
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
transform: translateY(50px);
transition: 0.5s;
}

ion-card:hover{
    transform: translateY(0px);
}

img{
width: 250px;
height:200px;
padding:10px;

}

ion-card-title{
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
}


@media only screen and (max-width: 900px) {
    icon-card{
        text-align: center;
    }

}